<c-smart-table
  [activePage]="1"
  [columnSorter]="true"
  [columns]="smtpColumns"
  [itemsPerPageSelect]="true"
  [itemsPerPage]="5"
  [items]="usersData"
  [sorterValue]="{ column: 'name', state: 'asc' }"
  [tableFilter]="true"
  [tableProps]="{ hover: true, striped: true, responsive: true }"
  [tableBodyProps]="{ align: 'middle' }"
  clickableRows
  header
  pagination
>

  <ng-template
    cTemplateId="tableData"
    let-columnName="columnName"
    let-item="item"
    let-tdContent="tdContent"
  >
    <td>
      <ng-container [ngSwitch]="columnName">
        
        <ng-container *ngSwitchCase="'show'" class="py-2">
          <button
            cButton
            color="danger"
            size="sm"
            variant="outline"
          >
            Delete
          </button>
        </ng-container>

        <ng-container *ngSwitchDefault>
          {{ tdContent }}

        </ng-container>
      </ng-container>
    </td>
  </ng-template>
</c-smart-table>
